<html>
<head>
	<script src="../lib/jquery-1.11.3.min.js"></script>
	<script src="../scripts/expense.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/data_table.css">
</head>
<body>
	<div class="entry_div" class="entry_div">
		<div><lable></lable>Name<input type="text" /></div>
		<div><lable></lable>Month<input type="datetime" /></div>
		<div><input type="button" value="create"/></div>
	</div>
	<div id="table_div" class="table_div">
		<table class="table_expenses">
			<tbody>
				<tr  class="table_header">			 
					<th></th>
					<th>Income</th>
					<th>Amout</th>
					<th></th>
					<th>Expense</th>
					<th>Amount</th>				 
				</tr>
				<tr>
					<td class="add_new">+</td>
					<td>Salary</td>
					<td class="amount"><span class="span_amount color_amout">123000</span></td>
					<td class="add_new">+</td>
					<td></td>
					<td class="amount"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="income_expense_summary"></div>
</body>
</html>