td{
	padding-left: 15px ;
	padding-right: 5px ;
 }
 
th{
	padding-left: 15px ;
	padding-right: 5px ;
}

.table_expenses{
	border-collapse: collapse;
	border-color: #00E3FF;
	border-width: 2px;
	border-style: solid;
}

.table_header{
	background-color: #87E5FA;
}